/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style:none;
}
/*ここからtopページ　CSS*/
.top-page {
  width: 90%;
  margin: 25px auto;

}

.top-text-area{
  width:90%;
  margin:auto;
}

.top-text{
  margin-top:20px;
}

/*ここからmainページCSS*/
header{
  width:90%;
  margin:30px auto 0;
}

table{
  margin:0 auto;
}



.main-link{
  display:inline-block;
}

.main-form{
  width:90%;
  margin:20px auto 0;
}

.form{
  margin-top:20px;
}


.form-submit input{
  padding:5px 10px;
  font-size:15px;
}

/*ここから投稿成功時のCSS*/
.notifications{
  color:green;
  margin-top:20px;
  padding:10px 0;
  text-align:center;
}

/*ここからshowページCSS*/
.show-main{
  width:90%;
  margin:10px auto;
}

.show-link{
  width:93%;
  margin:0 auto;
}